<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <div class="main">
            <ul>
                {% for data in dataset%}

                <li>{{ data.title}}</li>
                <li>{{ data.author}}</li>
                {%empty%}
                <li>no books available</li>
                <hr />

                {% endfor %}
            </ul>
        </div>
    </body>
</html>
